.container {
  width: 600px;
}
h1 {
  color: red;
  font-weight: 800;
}
.ol-list {
  font-style: normal;
}
.list__color {
  font-style: normal;
  font-weight: 800;
  color: red;
}
.colortext-blue {
  color: blue;
  font-style: italic;
  font-weight: 600;
}
.color-red {
  color: red;
  font-weight: 800;
}
h2 {
  color: blue;
}
.colortext-red {
  color: red;
  font-style: italic;
  font-weight: 800;
  font-size: 19px;
}
li {
  color: red;
  font-style: italic;
}
.color-braun {
  color: brown;
}
