body {
  width: 1140px;
  height: 100%;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: aqua;
  border: 1px solid black;
  height: 50px;
}
.content {
  display: flex;
}
.main {
  background-color: blue;
  border: 1px solid black;
  width: 50%;
  /* height: 100px; */
  flex: 1 1 auto;
}
.section {
  background-color: blueviolet;
  border: 1px solid black;
  width: 50%;
  height: 100px;
}
.footer {
  background-color: red;
  border: 1px solid black;
  height: 50px;
}
