.container {
  width: 600px;
}
h1 {
  text-align: center;
  color: blue;
  font-style: normal;
}
p {
  text-align: center;
  font-size: 20px;
}
h2 {
  text-align: center;
  color: blue;
  font-style: normal;
}
.colortext-red {
  color: red;
  font-weight: 800;
}
.colortext-blue {
  color: blue;
  font-style: italic;
}
