#wrapper {
  width: 800px;
  margin: 50px auto;
  border: 1px solid black;
}
#menu {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  background-color: orange;
}

#menu a {
  padding: 15px 25;
  color: white;
  text-decoration: none;
  margin: 10px 25px;
  font: bold 24px arial;
}

#menu a:hover {
  background-color: white;
  color: orange;
}
#content p {
  justify-content: center;
  margin: 0 25px 15px;
  color: orange;
  font: bold 16px arial;
}
#content h1,
h2 {
  color: orange;
  text-align: center;
}
