#wrapper {
  width: 800px;
  height: 300px;
  border: 5px solid black;
}

#wrapper h1 {
  color: blue;
  margin: 15px 0 15px 25px;
}
#wrapper p {
  margin: 0 15px 15px 15px;
}
strong {
  color: blue;
  margin: 0 0 50px 650px;
}
.title {
  text-align: center;
}
#wrapper-1 {
  width: 800px;
  border: 5px solid black;
  margin: 15px 0;
}
#wrapper-2 {
  width: 800px;
  border: 5px solid black;
  margin: 15px 0;
}
