* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.flex_container {
  /* align-content: space-around; */
  border: 2px solid red;
  display: flex;
  height: 300px;
  width: 800px;
  justify-content: space-around;
  /* flex-direction: row-reverse; */
}
.flex_item {
  border: 1px solid black;
  width: 200px;
  height: 100px;
  /* display: flex; */
  /* justify-content: space-between; */
}
.flex_item_1 {
  flex-basis: 100px;
  align-self: flex-start;
  /* width: 500px; */
}
.flex_item_2 {
  flex-basis: 125px;
  align-self: center;
  /* width: 600px; */
}
.flex_item_3 {
  flex-basis: 120px;
  /* align-self: center; */
  /* width: 700px; */
}
