.wraper {
  background-color: wheat;
  width: 1500px;
  height: 1200px;
}
.header {
  width: 1500px;
  height: 120px;
  color: bisque;
}
.nav {
  width: 1200px;
  color: white;
}
.menu {
  color: white;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.list {
  text-decoration: none;
  list-style-type: none;
}
.list a {
  text-decoration: none;
  list-style-type: none;
}
.content {
  width: 100px;
  height: 200px;
  color: red;
}
input[type="text"] {
  padding: 30px;
  border-radius: 10%;
}
input[type="password"] {
  padding: 30px;
}
input[type="action"] {
  padding: 30px;
  border-radius: 50%;
}
