body {
  background-color: black;
}
h1 {
  color: #2196f3;
}
h2 {
  color: #2196f3;
}
p {
  color: red;
}

.grid-container {
  width: 1000px;
  height: 700px;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
