/* body { */
/* background-color: aquamarine; */
/* } */

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 800px;
  height: 800px;
  background-color: bisque;
  margin-bottom: 20px;
}
.title {
  margin: 50px;
  text-align: center;
  background-color: aqua;
}
.menu {
  display: flex;
  justify-content: space-around;
  background-color: blueviolet;
  font-size: 29px;
  font-weight: 800;
}
.list {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 25px;
  color: red;
}
.images {
}
.mini-title {
  text-align: center;
  color: red;
  font-size: 25px;
  font-style: italic;
}
.content {
  /* text-align: center; */
  margin: 25px 45px;
}
.footer {
  text-align: right;
  margin: 100px 45px;
  font-weight: 900;
}
