h1 {
  text-align: right;
}
h2 {
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
table {
  width: 500px;
}
th {
  text-align: left;
}
td {
  text-align: center;
}
p {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
