* {
  margin: 0;
  padding: 0;
}
.wrapper {
  margin-top: 45px;
  display: flex;
  margin-bottom: 45px;
}
.menu {
  color: aqua;
  border: 1 solid black;
}
.list {
  margin-bottom: 20px;
  margin-left: 70px;
  list-style-type: none;
  color: aqua;
}
a {
  text-decoration: none;
  font-size: 25px;
  background-color: aqua;
  border-radius: 3px;
}
.images {
  margin-left: 50px;
}
.footer {
}
.nav-footer {
}
.nav-footer__iteem {
  display: flex;
  justify-content: space-around;
}
.nav__link {
  list-style-type: none;
}
