p {
  font-size: 20px;
  line-height: 35px;
  text-align: justify;
  width: 400px;
}
/* Это значит, что реальный видимый промежуток между строками будет вычисляться так: line-height - font-size = видимое расстояние между строками текста.

В следующем примере расстояние между строками текста будет 50px - 20px = 30px: */
