p {
  text-decoration: underline;
}
div p {
  text-decoration: overline;
}
.line {
  text-decoration: line-through;
}
.text {
  color: red;
  text-decoration: overline;
}
.text-green {
  color: green;
  text-decoration: line-through;
}
a {
  color: red;
}
.text-finish {
  text-decoration: none;
}
