h2 {
  font-weight: normal;
  text-align: center;
  font-style: italic;
}
p {
  font-weight: bold;
  text-align: right;
}
table {
  width: 500px;
  height: 300px;
}
td {
  font-weight: bold;
  text-align: center;
}
th {
  font-weight: normal;
}
div p {
  text-align: center;
  font-style: italic;
}
