#menu {
  display: flex;
}
#menu a {
  margin-right: 5px;
  padding: 10px;
  font: 15px Arial;
  text-decoration: none;
  color: #1437ad;
  border: 1px solid #1437ad;
  background-color: white;
}
#menu a:hover,
#menu a.active {
  color: blue;
  border: 1px solid blue;
  background-color: white;
}
