.wrapper {
  margin: 0px 0 0 0px;
  width: 2010px;
  background-color: gray;

  border: 1px solid black;
}
.wrapper-menu {
  display: flex;
  background-color: white;
  border-bottom: rgba(0, 0, 0, 12);
}
.container {
  width: 1120px;
}
.menu {
  display: flex;
  justify-content: center;
}
.menu a {
  color: silver;
  font: 20px arial;
  margin: 0 25px;
}
.menu a:hover {
  color: bisque;
}

.header__connection {
  margin: 0 0 0 525px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
}

.header__call {
  color: #ffffff;
}

.call-decoration {
  color: #d6af76;
}

.header__callback {
  margin-left: 39px;
  max-width: 218px;
  height: 50px;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4b564;
}

.callback {
  color: #e4b564;
  margin-left: 10px;
}
main {
  width: 200px;
  border: 1px solid black;
}
ul a {
  margin: 300px;
  text-decoration: none;
  font-size: 20px;
}
