#wrapper {
  width: 850px;
  margin: 50px auto;
  background-color: aqua;
  border: 1px solid black;
}
#menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #484848;
}
#menu a {
  margin: 0.5px;
  padding: 15px 25px;
  text-decoration: none;
  color: #fff;
  font: bold 14px arial;
}
#menu a:hover {
  color: red;
  background-color: #fff;
}
#content {
  padding: 0 30px 20px;
}
#content h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}
#content p {
  padding: 0 10px;
  margin-bottom: 5px;
  font: 18px/1.3 arial;
  text-align: justify;
}
