.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: aqua;
  padding: 10px;
}
.grid-item {
  background-color: brown;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
