#wrapper {
  width: 800px;
  margin: 50px auto;
  border: 1px solid black;
}
#menu {
  display: flex;
  justify-content: center;
  background-color: #484848;
  margin-bottom: 20px;
}
#menu a {
  text-decoration: none;
  margin: 0 5px;
  padding: 15px 25px;
  color: #fff;
  font: bold 14px arial;
}
#menu a:hover,
#menu a.active {
  color: #484848;
  background-color: #fff;
}
