h1 {
  text-align: center;
}
h2 {
  text-align: center;
  color: blue;
}
h3 {
  text-align: center;
  font-size: 16px;
  color: red;
}
h1,
h2,
h3 {
  text-align: center;
}
h2 {
  color: blue;
}
h3 {
  font-size: 16px;
}

h1 {
  text-align: center;
  color: red;
}
h2 {
  text-align: center;
  color: red;
}
h3 {
  text-align: center;
  font-size: 16px;
  color: red;
}
h1,
h2,
h3 {
  text-align: center;
  color: red;
}
h3 {
  font-size: 16px;
}
