* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.flex_container {
  border: 2px solid red;
  display: flex;
  justify-content: space-around;
  height: 300px;
}
.flex_item {
  border: 1px solid black;
  width: 200px;
  height: 100px;
  /* display: flex; */
  /* justify-content: space-between; */
}
.flex_item_1 {
  align-self: flex-start;
}
.flex_item_2 {
  align-self: center;
}
.flex_item_3 {
  align-self: flex-end;
}
